.chartHeader {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	color: #0071bd;
}

.chartTitle {
	color: #0071bd !important;
}

.priceContainer {
	display: flex !important;
	gap: 20px !important;
	align-items: center !important;
	flex-wrap: wrap !important;
}

.priceChange {
	font-weight: 900 !important;
}

.currentPrice {
	margin-top: 0px !important;
	font-weight: 900 !important;
}
